# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
/.pnp
.pnp.js

# Coverage directory used by tools like istanbul
/coverage

# Compiled binary addons (e.g. node-sass)
/build

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac-specific files
.DS_Store
