* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.aboutCont{
    background-color: bisque;
    height: 100vh;
}
.section{
    background-color: aqua;
    height: 100%;
    width: 100%;
    justify-content: center;
}