/* MapPage.css */
.prinCont{
  height: calc(100vh - 150px);
}
.mainCont {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra el contenido horizontalmente */
  height: 100%;
}

.buttonCont {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones horizontalmente */
  margin: 20px; /* Ajusta el margen izquierdo según sea necesario */
}
.buttonCont button{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

/* Estilos adicionales según sea necesario */
.mapCont {
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
}
