.navbar{
    background-color: #556B2F;
}

/* Estilo para el hover de los enlaces */
.navLink:hover {
    color: #FFD700; /* Color amarillo dorado cuando se hace hover */
  }
  
  /* Estilo para el enlace activo */
.navLink.active {
  background-color: #816e03; /* Color de fondo cuando está activo */
  border-radius: 4px; /* Añade bordes redondeados para un aspecto más agradable */
}
.navbarBrand{
  font-size: 1.4rem;
  font-weight: bold;
}
  